[Desktop Entry]
Version=1.0
Name=ContentSearch
Comment=An application for searching the content in doc or docx files
Exec=/home/deepin/go/src/oschina.net/ContentSearch/release/v0.1/cs
Icon=
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.1
X-Deepin-AppID=ContentSearch
